@import url('https://fonts.googleapis.com/css2?family=Radio+Canada&display=swap');

.landing-page-heading-font{
    font-family: 'Radio Canada', sans-serif;;
}

.background-image{
    height: "14vh";
    display: flex;
    background-color: white;
    background-image: url("data: image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='160' height='160' viewBox='0 0 200 200' %3E%3Cpolygon fill='%23edf2fb' points='100 0 0 100 100 100 100 200 200 100 200 0' /%3E%3C/svg%3E");
}